*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

/* Basic container to center app */
#root {
  min-height: 100vh;
}